{% extends 'project/base.html' %}
{% block title %}Applications{% endblock %}
{% block applications_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            {% for project in projects %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>{{project.name}}</h3>
                </div>

                <div class="panel-body">
                    <div class="table-responsive-sm">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <div class="col-sm-1">
                                        <th style="width:5%; text-align: center"></th>
                                    </div>
                                    <div class="col-sm-1">
                                        <th style="width:5%; text-align: center">#</th>
                                    </div>
                                    <div class="col-sm-2">
                                        <th style="width:15%; text-align: center">Name</th>
                                    </div>
                                    <div class="col-sm-2">
                                        <th style="width:15%; text-align: center">Access</th>
                                    </div>
                                    <div class="col-sm-1">
                                        <th style="width:15%; text-align: center">Users</th>
                                    </div>
                                    <div class="col-sm-2">
                                        <th style="width:30%; text-align: center">Notes</th>
                                    </div>
                                    <div class="col-sm-1">
                                        <th style="width:15%; text-align: center">Completed</th>
                                    </div>
                                </tr>
                            </thead>
                            {% for application in applications %}
                            {% if application.project.id == project.id %}
                            <tbody>
                                <tr>
                                    <div class="col-sm-1">
                                        <td style="width:5%; text-align: center">
                                            <a href="{% url 'project:delete_application' project.id application.id %}"
                                                class="btn btn-danger btn-sm"
                                                style="background-color: red; border: none">
                                                <span class="glyphicon glyphicon-remove-sign"
                                                    style="background-color: red"></span>
                                            </a>
                                        </td>
                                    </div>
                                    <div class="col-sm-1">
                                        <td style="width:5%; text-align: center">{{forloop.counter}}</td>
                                    </div>
                                    <div class="col-sm-2">
                                        <td style="width:15%; text-align: center">
                                            <a href="{% url 'project:application_detail' project.id application.id %}">
                                                {{application.name}}
                                            </a>
                                        </td>
                                    </div>
                                    <div class="col-sm-2">
                                        <td style="width:15%; text-align: center">{{application.access}}</td>
                                    </div>
                                    <div class="col-sm-1">
                                        <td style="width:15%; text-align: center">{{application.username}}</td>
                                    </div>
                                    <div class="col-sm-2">
                                        <td style="width:30%; text-align: center">{{application.notes}}</td>
                                    </div>
                                    <div class="col-sm-1">
                                        <td style="width:15%; text-align: center">70 %</td>
                                    </div>
                                </tr>
                            </tbody>
                            {% endif %}
                            {% endfor %}
                        </table>
                        <a href="{% url 'project:create_application' project.id %}" class="btn btn-success btn-sm"
                            style="border:none">
                            <span class="glyphicon glyphicon-plus-sign"></span> New Application
                        </a>

                    </div>
                </div>

            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}