{% extends 'project/base.html' %}
{% block title %}{{application.name}}'s Detail{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>{{project.name}} --> {{application.name}}</h3>
                </div>

                <div class="panel-body">
                    <div class="table-responsive-sm">
                        <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <div class="col-sm-1">
                                            <th style="width: 5%; text-align: center">#</th>
                                        </div>
                                        <div class="col-sm-6">
                                            <th style="width: 65%; text-align: center">Vulnerability</th>
                                        </div>
                                        <div class="col-sm-3">
                                            <th style="width: 30%; text-align: center"></th>
                                        </div>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in table %}
                                    <tr>
                                        <div class="col-sm-1">
                                            <td style="width: 5%; text-align: center">{{forloop.counter}}</td>
                                        </div>
                                        <div class="col-sm-6">
                                            <td style="width: 65%; text-align: center">{{item.0}}</td>
                                        </div>
                                        <div class="col-sm-3">
                                            <td style="width: 30%; text-align: center">
                                                <input type="checkbox" id="{{item.0.id}}" name="check"
                                                    value="{{item.1}}">
                                            </td>
                                        </div>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% for item in table %}
<script>checkBoxChecked({{ item.0.id }})</script>
{% endfor %}

<script>

    $(document).ready(function () {

        var checklist = "";

        $('input[type=checkbox]').click(function () {

            checklist = "";

            $("input[type=checkbox]").each(function () {

                if (this.checked == true) {
                    isChecked = "1";
                }
                else {
                    isChecked = "0";
                }
                checklist += isChecked;
            });

            $.ajax({

                url: "/setChecklist/",
                type: "POST",
                dataType: "text",
                data: {
                    'checklist': checklist,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'application_id': {{ application.id }},
                },
        success: function (data) {
            // alert("Succesfull: " + data);
        },
        error: function (data) {
            // alert("Error: " + checklist);
        },
            });
        });

    setInterval(function () {

        $.ajax({

            url: "/getChecklist/",
            type: "GET",
            dataType: "JSON",
            data: {
                'application_id': {{ application.id }},
            },
        success: function (data) {

            for (var i = 0; i < (data.check).length; i++) {

                var checkBox = document.getElementById(i + 1)

                if ((data.check)[i] == "1") {
                    checkBox.checked = true;
                }
                else {
                    checkBox.checked = false;
                }
            }
        },
        error: function (data) {
            // alert("Error: " + checklist);
        },
        });

    }, 1000);
    });

</script>

{% endblock %}