{% extends 'project/base.html' %}
{% block title %}{{application.name}}'s Detail{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-sm-10">
                            <h3>{{project.name}} --> {{application.name}}</h3>
                        </div>

                    </div>
                </div>

                <div class="panel-body">

                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="table-responsive-sm">
                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th style="width: 10%">
                                            <div class="col-sm-1">#</div>
                                        </th>
                                        <th style="width: 80%; text-align: center">
                                            <div class="col-sm-8">Vulnerability</div>
                                        </th>
                                        <th style="width: 10%">
                                            <div class="col-sm-1"></div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for item in table %}
                                    <tr>
                                        <td style="width: 10%">
                                            <div class="col-sm-1">{{forloop.counter}}</div>
                                        </td>
                                        <td style="width: 80%; text-align: center">
                                            <div class="col-sm-8">{{item.0}}</div>
                                        </td>
                                        <td style="width: 10%">
                                            <div class="col-sm-1">
                                                <input type="checkbox" id="{{item.0.id}}" name="{{item.2}}"
                                                    value="{{item.1}}">
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

{% for item in table %}
    <script>checkBoxChecked({{ item.0.id }})</script>
{% endfor %}

<script>
    $(document).ready(function () {

        var checklist = "";

        $('input[type=checkbox]').click(function () {

            checklist = "";
            $("input[type=checkbox]").each(function () {

                if (this.checked == true) {
                    isChecked = "1";
                }
                else {
                    isChecked = "0";
                    if(this.name == "1"){
                      alert('This project has already reported.')
                      isChecked = "1";
                    }
                }
                checklist += isChecked;
            });

            $.ajax({

                url: "/setChecklist/",
                type: "POST",
                dataType: "text",
                data: {
                    'checklist': checklist,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'application_id': {{application.id}},
                },
                success: function (data) {
                    // alert("Succesfull: " + data);
                    console.log('Success');
                },
                error: function (data) {
                    console.log('Error');
                },
            });
        });

        setInterval(function () {

            $.ajax({

                url: "/getChecklist/",
                type: "GET",
                dataType: "JSON",
                data: {
                    'application_id': {{application.id}},
                },
                success: function (data) {

                    for (var i = 0; i < (data.check).length; i++) {

                        var checkBox = document.getElementById((i+1).toString());

                        if ((data.check)[i] == "1") {
                            checkBox.checked = true;
                        }
                        else {
                            checkBox.checked = false;
                        }
                        checkBox.name = data.report[i]
                    }
                },
                error: function (data) {
                    // alert("Error: " + checklist);
                },
            });

        }, 1000);
    });
</script>

{% endblock %}
