{% extends 'project/base.html' %}
{% block title %}Homepage{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      {% for project in projects %}

      <div class="panel panel-default">

        <div class="panel-heading">
          <div class="row">

            <div class="col-sm-8">
              <h3><a href="#{{project.id}}" data-toggle="collapse">{{project.name}}</a></h3>
            </div>

            <div class="col-sm-4">
              <h3> {{project.situation}}</h3>
            </div>

          </div>
        </div>

        <div id="{{project.id}}" class="collapse">
          <div class="panel-body">

            <div class="table-responsive-sm">
              <table class="table table-hover">

                <thead>
                  <tr>
                    <th style="width: 3%">
                      <div class="col-sm-1">#</div>
                    </th>
                    <th style="width: 20%">
                      <div class="col-sm-1">Name</div>
                    </th>
                    <th style="width: 15%">
                      <div class="col-sm-1">Access</div>
                    </th>
                    <th style="width: 15%">
                      <div class="col-sm-1">Users</div>
                    </th>
                    <th style="width: 40%">
                      <div class="col-sm-4">Notes</div>
                    </th>
                    <th style="width: 5%">
                      <div class="col-sm-1"></div>
                    </th>
                  </tr>
                </thead>

                <tbody>

                  {% for application in applications %}
                  {% if application.project.id == project.id %}

                  <tr>
                    <td style="width: 3%">
                      <div class="col-sm-1">{{forloop.counter}}</div>
                    </td>
                    <td style="width: 15%">
                      <div class="col-sm-1">{{application.name}}</div>
                    </td>
                    <td style="width: 15%">
                      <div class="col-sm-1">{{application.access}}</div>
                    </td>
                    <td style="width: 15%">
                      <div class="col-sm-1">{{application.username}}</div>
                    </td>
                    <td style="width: 40%">
                      <div class="col-sm-4">{{application.notes}}</div>
                    </td>
                    <td style="width: 5%">
                      <div class="col-sm-1">100 %</div>
                    </td>
                  </tr>

                  {% endif %}
                  {% endfor %}

                </tbody>

              </table>
            </div>

          </div>
        </div>

      </div>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}