{% extends 'project/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="panel-group">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="row">

              <div class="col-sm-12">
                <h3>Register</h3>
              </div>

            </div>
          </div>

          <div class="panel-body">

            {% if error_message %}
            <div class="row">
              <div class="col-sm-12">
                <p>
                  <strong>{{error_message}}</strong>
                </p>
              </div>
            </div>

            {% else %}
            <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'project/form_template.html' %}

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>

            </form>

            {% endif %}
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-sm-12">
                <p>
                  Already have an account? <a href="{% url 'project:login_user' %}">Click here</a> to log in.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}