{% extends 'project/base.html' %}
{% block title %}{{project.name}}'s Checklist{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>{{project.name}} --> Report</h3>
                </div>

                <div class="panel-body">
                    <div class="table-responsive-sm">
                        <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <div class="col-sm-1">
                                            <th style="width: 5%; text-align: center">#</th>
                                        </div>
                                        <div class="col-sm-3">
                                            <th style="width: 20%; text-align: center">Vulnerability</th>
                                        </div>
                                        {% for item in applications %}
                                        <div class="col-sm-2">
                                            <th style="width: 25%; text-align: center">{{item.name}}</th>
                                        </div>
                                        {% endfor %}
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for check in checklists %}
                                    <tr>
                                        <div class="col-sm-1">
                                            <td style="width: 5%; text-align: center">{{forloop.counter}}</td>
                                        </div>
                                        <div class="col-sm-3">
                                            <td style="width: 20%; text-align: center">{{check}}</td>
                                        </div>
                                        {% for item in applications %}
                                        <div class="col-sm-2">
                                            <td style="width: 25%; text-align: center">
                                                <input type="checkbox" class="{{item.id}}" name="{{item.reported}}"
                                                    value="{{item.checklist}}">
                                            </td>
                                        </div>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>

                        </form>
                    </div>
                </div>

                <div id="load_reportlist"></div>

            </div>

        </div>
    </div>
</div>

{% for item in applications %}

<script>isChecklistChecked({{ item.id }})</script>

{% endfor %}

<script>

    $(document).ready(function () {

        $('input[type=checkbox]').click(function () {

            var reportlist = "";

            $("input[type=checkbox]").each(function () {

                if (this.checked == true) {
                    isChecked = "1";
                }
                else {
                    isChecked = "0";
                }
                checklist += isChecked;
            });

            $.ajax({

                url: "/setReportlist/",
                type: "POST",
                dataType: "text",
                data: {
                    'reportlist': reportlist,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'application_id': 1,
                },
                success: function () {
                    alert("Succesfull: " + reportlist);
                },
                error: function () {
                    alert("Error: " + reportlist);
                },
            });
        });

        setInterval(function () {

            $('#load_reportlist').load("/getReportlist/").fadeIn("slow");

        }, 1000);
    });

</script>

{% endblock %}