{% extends 'project/base.html' %}
{% block title %}{{project.name}}'s Report{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col-sm-10">
                            <h3>{{project.name}}'s Report</h3>
                        </div>

                    </div>
                </div>

                <div class="panel-body">

                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="table-responsive-sm">
                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th style="width: 10%">
                                            <div class="col-sm-1">#</div>
                                        </th>
                                        <th style="width: 10%">
                                            <div class="col-sm-1">Vulnerability</div>
                                        </th>
                                        {% for application in applications %}
                                        <th style="width: 10%">
                                            <div class="col-sm-1">{{application.name}}</div>
                                        </th>
                                        {% endfor %}
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for checklist in checklists %}
                                    <tr>
                                        <td style="width: 10%">
                                            <div class="col-sm-1">{{forloop.counter}}</div>
                                        </td>
                                        <td style="width: 10%">
                                            <div class="col-sm-1">{{checklist}}</div>
                                        </td>
                                        {% for application in applications %}
                                        <td style="width: 25%">
                                            <div class="col-sm-1">
                                                <input type="checkbox"
                                                    id="a_id{{application.id}} + c_id{{checklist.id}}"
                                                    class="{{application.id}}" name="{{application.reported}}"
                                                    value="{{application.checklist}}">
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>
</div>

{% for application in applications %}
    <script>isChecklistChecked({{ application.id }})</script>
{% endfor %}

<script>
    $(document).ready(function () {

        var reportlist = "";

        $('input[type=checkbox]').click(function () {

            reportlist = "";

            $("input[type=checkbox]").each(function () {

                if (this.checked == true) {
                    isChecked = "1";
                }
                else {
                    isChecked = "0";
                }
                reportlist += isChecked;
            });

            $.ajax({

                url: "/setReportlist/",
                type: "POST",
                dataType: "text",
                data: {
                    'reportlist': reportlist,
                    csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                    'project_id': {{project.id}},
                },
                success: function (data) {
                    // alert("Succesfull: " + data);
                },
                error: function (data) {
                    // alert("Error: " + checklist);
                },
            });
        });

        setInterval(function () {

            $.ajax({

                url: "/getReportlist/",
                type: "GET",
                dataType: "JSON",
                data: {
                    'project_id': {{project.id}},
                },
                success: function (data) {

                    for(var i=0; i<data.appLength; i++){

                        var checkBoxId = "";

                        for (var j = 0; j < data.checklistLength; j++) {

                            var firstString = "a_id".concat((data.application_id[i]).toString());
                            var lastString = " + c_id".concat((j+1).toString());

                            checkBoxId = firstString.concat(lastString);

                            var checkBox = document.getElementById(checkBoxId);
                            if((data.check)[(i * 10) + j] == "1") {
                              checkBox.disabled = false;
                              if ((data.report)[(i * 10) + j] == "1") {
                                  checkBox.checked = true;
                              }
                              else {
                                  checkBox.checked = false;
                              }
                            }
                            else {
                                checkBox.checked = false;
                                checkBox.disabled = true;
                            }
                        }
                    }
                },
                error: function (data) {
                    // alert("Error: " + checklist);
                },
            });

        }, 1000);
    });
</script>

{% endblock %}
